.botongrande {
    text-align-last: right;
    text-decoration: solid;
    border-radius: 5px;
    background-color: rgb(227, 239, 241);
    background: linear-gradient(10deg, #f4f5f7 20%, #95cce6 70%);
    border-radius: 3;
    border: 0;
    color: white;
    height: 48;
    width: 10;
    padding: 0 30px;
    box-shadow: 0 3px 5px 2px rgba(4, 52, 107, 0.3);
}

.botonchico {
    padding: 15px;
    background: linear-gradient(50deg, #e3faf7 20%, #03f1e6 60%);
    color: rgb(5, 1, 0);
    text-align-last: center;
    border-radius: 5px;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 35px;
    width: 150px;
    margin-right: 18px;
    margin-bottom: 50px;
    transition: background 1s, color 1s, transform 1s;
}