.botonmenu {
	padding: 10px;
	background: linear-gradient(50deg, #e3faf7 20%, #95cce6 60%);
	color: rgb(5, 1, 0);
	text-align-last: center;
	border-radius: 5px;
	margin: 4px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 35px;
	width: 150px;
	margin-right: 8px;
	margin-bottom: 18px;
	transition: background 1s, color 1s, transform 1s;
}
.botonmenu:hover {
	background: linear-gradient(30deg, #95cce6 20%, #e3faf7 70%);
	color: rgb(252, 249, 249);
	width: 200px;
	transform: scale(1.2);
}

.barraherr {
	background: linear-gradient(10deg, #f4f5f7 20%, #95cce6 70%);
	text-align-last: right;
	min-height: 40;
	padding: "0 30px";
}
.title {
	flex-grow: 1;
	margin-right: 15px;
	color: #0a0a0a;
	border-radius: 10px;
}
.botonitem {
	background-color: linear-gradient(10deg, #f4f5f7 20%, #f3757b 70%);
}
.botonitem:hover {
	background: linear-gradient(10deg, #9ba7eb94 20%, #7ba1db 70%);
	color: #f4f5f7;
	border-radius: 10px;
}

/* tablas header


element.style {
    width: 96px;
    text-align: center;
    box-sizing: border-box;
}
<style>
.MTableHeader-header-198 {
    top: 0;
    z-index: 10;
    position: sticky;
    background-color: #dbe2f5;


	.MuiTableCell-head {
    color: rgb(13 12 12);
    font-weight: 900;
    line-height: 1;
}
*/
